<h1> Street to Coordinates</h1>

<p>
  
</p>

<div>
  <dl>
  <dt>Street Address</dt>
  <dd>  
    <%=  @user_input_address%>
  </dd>

  <dt>Latitude</dt>
  <dd> 
    <%=@lat%> 
  </dd>

  <dt>Longitude</dt>
  <dd> 
    <%= @long%>
  </dd>
</dl>
  

  
</div>